body {
  background: url("assets/freedom.jpg") no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-style: normal;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
  letter-spacing: 0.3rem;
}
